body nav {
    margin-bottom: 50px;
}

.ad-img {
    max-height:100px;
    max-width:300px;
}

.ad-row td {
    height: 125px;
    line-height: 125px;
}


.gallery img{
    max-height:200px;
    max-width:200px;
}

.gallery {
    height: 250px;
    width: 215px;
}

.upload-file-size{
    color: green;
}

.last-ad-img{
    max-height:55px;
    max-width: 300px;
}

#slideshow {
    max-height: 200px;
}

